<header class="header">
    <div class="head">
      <div class="navigation">
          <a href="/" class="logo">{{ site.title }}</a>
          {{ site.subtitle }}
          <ul class="menu">
              <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
              <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}"><i class="fa fa-clipboard"></i>&nbsp;Posts</a></li>
              <li class="menu__entry"><a href="https://github.com/swen-440-team-6/"><i class="fa fa-github"></i>&nbsp;Code</a></li>
              <li class="menu__entry"><a href="https://swen440team6.slack.com/"><i class="fa fa-slack"></i>&nbsp;Slack</a></li>
          </ul>
      </div>
    </div>
</header>
